[submodule "src/da_vinci_tools_ros"]
	path = src/da_vinci_tools_ros
	url = https://github.com/RViMLab/da_vinci_tools_ros.git
[submodule "src/fri_ros"]
	path = src/fri_ros
	url = https://github.com/KCL-BMEIS/fri_ros
[submodule "src/h_rcm_vs"]
	path = src/h_rcm_vs
	url = https://github.com/RViMLab/h_rcm_vs
[submodule "src/h_vs"]
	path = src/h_vs
	url = https://github.com/RViMLab/h_vs
[submodule "src/rcm"]
	path = src/rcm
	url = https://github.com/RViMLab/rcm
[submodule "src/surgery_setups"]
	path = src/surgery_setups
	url = https://github.com/RViMLab/surgery_setups.git
[submodule "src/decklink_ros"]
	path = src/decklink_ros
	url = https://github.com/RViMLab/decklink_ros.git
[submodule "src/h_pose_vs"]
	path = src/h_pose_vs
	url = https://github.com/RViMLab/h_pose_vs.git
